/* AboutUs.scss */
.about-us-container {
    margin: 0 auto;
    padding: 0 2em 0 2em;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 1rem 0;
  }
  
  .map-container {
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .marker {
    font-size: 1.5rem;
  }
  