#root {
  max-width: 1280px;
  margin: 100px auto;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.footer{
  position: fixed;
  bottom: 0px;
  left: 20px;
}

.footer1 {
  position: sticky;
  border: 1px solid black;
}

.header {
  width: 100%;
  left: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
  top: 0px;
  .nav-bar {
    display: flex;
    // padding: 1rem;
    min-width: 120px;
    // border: 1px solid black;
    .link {
      position: relative; /* Needed for the pseudo-element */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 20px 0px 20px;
      min-height: 50px;
      overflow: hidden; /* Ensures the pseudo-element stays within the boundaries */
      color:black; 
      &:hover {
        cursor: pointer;
        color: white;
        transition: color 1s ease;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #ff5400;
        border: 1px solid #ff5400;
        z-index: -1;
        transition: height 1s ease;
      }
  
      &:hover::before {
        height: 100%;
      }
  
      /* Ensures the text is on top of the pseudo-element */
      span {
        position: relative;
        z-index: 1;
      }
    }
  }
  img {
    width:100px;
    height: 100px;
    @media screen and (max-width:425px) {
      width:70px;
      height: 70px;
    }
  }
}

.logo {
  display: flex;
  justify-self: flex-start;
}
.logo-container {
  width: 40%;
  @media screen and (max-width:1000px) {
    width: 30%;
  }
  @media screen and (max-width:700px) {
    width: 20%;
  }
}
.center {
  display: flex;
  align-items: center;
}

.dog_carousels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width:1300px) {
    grid-template-columns: 100%;
  }

  div{
    margin: 10px;
  }
}

.dog-image{
  max-width: 50vw;
  @media screen and (min-width:1300px) {
    max-width: 25vw;
  }
}

.card {
  padding: 2em;
}

.price {
  font-size: 28px;
}

.read-the-docs {
  color: #888;
}

.dog-description{
  padding-left: 5vw;
  padding-right: 5vw;
}

.carousel {
  display: flex;
  justify-content: center;
  button {
    color: white;
    background-color: #ff5400;
  }
  :first-child {
    border-radius: 5px 0px 0px 5px;
  }

  :last-child {
    border-radius: 0px 5px 5px 0px;
  }


}

.carousel-indicators button{
  border:1px solid #ff5400;
  background-color:#ff5400;

  margin: 5px;
  &:hover {
    background-color:white;
  }
}

.home_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.ida {
  width: 40vw;
  height: 40vw;
}

.ida-desc {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1em;
  padding-right: 1em;
}

.pricing-component {
  display: grid;
  max-width: 300px;
  ul {
    list-style-type: none;
    padding: 0px;
  }
  button {
    // background-color: #ff5400;
    &:hover {
      color: white;
      border: 1px solid white;
    }
  }
}

.prices-container {
  display: flex;
  justify-content: center;
  @media screen and (max-width:700px) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    >div {
      min-width: 300px;
    }
  }
  >div {
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 

    > div:first-child {
      color:white;
      margin-left: -10px;
      margin-right: -10px;
      font-size: 25px;
      min-width: 130px;
    }
    button {
      margin-top: 15px;
    }
  }
  .daily-header {
    background-color: #b10000;
    padding: 10px;
  }
  .weekly-header {
    background-color: #d72f00;
    padding: 10px;
  }
  .monthly-header {
    background-color: #ff5400;
    padding: 10px;
  }
  
}