#root {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .body {

    max-width: 1280px;
    padding: 1rem;
    margin: 0px auto 0px auto;
    margin-bottom: auto;
    @media screen and (min-width: 850px) {
      min-width: 800px;
    }
  }
}

.center {
  display: flex;
  align-items: center;
}