#root {
  max-width: 1280px;
  margin: 100px auto 0px auto;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
}