.footer {
  display: flex;
  color: white;
  padding: 10px 0px 10px 0px;
  margin-top: 15px;
  background-color: lightgray;
  justify-content: space-between;
  border-top: 3px solid #ff5400;
  align-items: center;
  > div {
    padding: 0px 10px;
  }
}

.social-icon-footer {
  width: 35px !important;
  height: 35px !important;
  margin: 0px 10px;
}